{% extends 'base.html' %}
{% load static %}
{% load my_filters %}

{% block content %}
<main>

    <body>
        <!-- Page Header Start -->
        <div class="container-fluid pt-5">
            <div class="text-center mb-4">
                <h2 class="section-title px-5"><span class="px-2">جزئیات سفارش</span></h2>
            </div>
            <div class="text-center mb-4">
                <h5 class="text-primary"><span class="px-2"><strong>جزئیات کامل سفارش خوئ را مشاهده
                            نمایید</strong></span></h5>
            </div>
        </div>
        <!-- Page Header End -->
        
        <div class="container-fluid pt-5">
            <div class="row px-x1-5 pb-3">
                <center>
                    {% for order_info in order %}
                    <div class="card text-center border-primary border-3" style="width: 60rem;" dir="rtl">
                        <div class="card-header bg-primary">
                            <h4><strong>کد سفارش : {{ order_info.id }}#</strong></h4>
                        </div>
                        <div class="card-body">
                            <table class="table border-secondary">
                                <thead>
                                    <tr>
                                        <th scope="row">به نام</th>
                                        <td>{{ order_info.full_name }}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">شماره تماس</th>
                                        <td>{{ order_info.phone }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">ایمیل</th>
                                        <td>{{ order_info.email }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">ارسال به آدرس</th>
                                        <td>{{ order_info.delivery_address }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">تاریخ ثبت</th>
                                        <td>{{ order_info.date_ordered|date:"y-m-d h:i:s" }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">تاریخ آخرین ویرایش</th>
                                        <td>{{ order_info.last_update|date:"y-m-d h:i:s" }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">وضعیت</th>
                                        <td>{{ order_info.get_status_display }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">مبلغ کل</th>
                                        <td>{{ order_info.amount_paid|my_intcomma }} تومان</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <center>
                                <div class="card text-center border-primary border-3" style="width: 45rem;">
                                    <div class="card-body ">
                                        <h5 class="card-title"><strong>آیتم های داخل سفارش</strong></h5>
                                        <table class="table border-primary">
                                            <thead>
                                                <tr>
                                                    <th scope="col">نام آیتم</th>
                                                    <th scope="col">قیمت</th>
                                                    <th scope="col">تعداد</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in order_items %}
                                                <tr>
                                                    <td>{{ item.products.name }}</td>
                                                    <td>{{ item.price|my_intcomma }} تومان</td>
                                                    <td>{{ item.quantity }} عدد</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </center>
                            <br>
                        </div>
                    </div>
                    <br>
                    <a href="{% url 'profile_user' %}" class=" btn btn-primary border-primary border-2"><strong>بازگشت به صفحه حساب
                            کاربری
                            </strong></a>
                    {% endfor %}
                </center>
            </div>
        </div>
        <br><br><br><br><br><br>
    </body>
</main>
{% endblock %}