{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load my_filters %}

{% block content %}
<main>
    <!-- Page Header Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">{{ brand.name }} برند</span></h2>
        </div>
        <div class="text-center mb-4">
            <h5 class="text-primary"><span class="px-2"><strong>محصولات تولید این برند را مشاهده نمایید</strong></span></h5>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- All Products Start -->
     <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            {% for prod in products %}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-primary border-2 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border-primary border-2 p-0">
                        <img class="img-fluid w-100" src="{{ prod.picture.url }}" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3"><strong>{{ prod.name }}</strong></h6>
                        <div class="d-flex justify-content-center">
                            <h6><strong>{{ prod.brand }}</strong></h6>
                        </div>
                        <div class="d-flex justify-content-center">
                            {% if prod.is_sale %}
                            <h6>{{ prod.sale_price|my_intcomma }}T</h6><h6 class="text-muted ml-2"><del>{{ prod.price|intcomma }}T</del></h6>
                            {% else %}
                            <h6>{{ prod.price|my_intcomma }}T</h6>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border-primary border-2">
                        <a href="{% url 'product_details' prod.id %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i><strong>مشاهده جزئیات</strong></a>
                        <form method="POST" action="{% url 'cart_add' %}">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ prod.id }}">
                            <input type="hidden" name="product_qty" value="1">
                            <button class="btn btn-sm text-dark p-0" type='submit'><i class="fas fa-shopping-cart text-primary mr-1"></i><strong>افزودن به سبد خرید</strong></button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- All Products End -->
</main>
{% endblock %}