{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <!-- Page Header Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">ورود مشتریان</span></h2>
        </div>
        <div class="text-center mb-4">
            <h5 class="text-primary"><span class="px-2"><strong>وارد حساب خود شوید</strong></span></h5>
        </div>
    </div>
    <!-- Page Header End -->
    
    <!-- Login Form Start -->
    <div class="container">
        <div class="row">
            <center>
                <form action="{% url 'login_user' %}" method="POST">
                    {% csrf_token %}
                    <div class="col-lg-8" dir="rtl">
                        <div class="mb-4">
                            <div class="row">
                                <div class="col-md-6 form-group font-weight-bold" dir="rtl">
                                    <label>نام کاربری :</label>
                                    <input class="form-control font-weight-bold border-primary border-2" type="text" name="username">
                                </div>
                                <div class="col-md-6 form-group font-weight-bold" dir="rtl">
                                    <label>رمز عبور :</label>
                                    <input class="form-control font-weight-bold border-primary border-2" type="password" name="password">
                                </div>
                                <hr>
                                <div class="card-footer border-primary border-3 bg-transparent">
                                     <button type="submit" class="btn btn-primary border-primary border-3"><strong>ورود به حساب</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </center>
        </div>
    </div>
</main>
<br><br><br>
{% endblock %}