{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <!-- Page Header Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2"> مشخصات ارسال سفارش</span></h2>
        </div>
        <div class="text-center mb-4">
            <h5 class="text-primary"><span class="px-2"><strong>مشخصات خودتان جهت ارسال سفارشات را در حساب خود ثبت کنید</strong></span></h5>
        </div>
    </div>
    <!-- Page Header End -->
    <br><br><br>
    <!-- User Delivery Info Form Start -->
    <div class="container">
        <div class="row">
            <center>
                <form action="{% url 'user_delivery_info' %}" method="POST" dir="rtl">
                    {% csrf_token %}
                    <div class="col-lg-8">
                        <div class="mb-4">
                            <div class="row">
                                {% for field in form_delivery %}
                                <div class="col-md-6 form-group font-weight-bold">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                                {% endfor %}
                                <hr>
                                <div class="card-footer border-primary border-3 bg-transparent">
                                    <button type="submit" class="btn btn-primary border-primary border-3"><strong>ثبت اطلاعات</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </center>
        </div>
    </div>
    <br><br><br><br>
    <!-- User Delivery Info Form end -->
</main>
{% endblock %}